.titlefont{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: cornflowerblue;
}

.listfont{
    font-family: sans-serif;
}

.linkstyle{
    color: darkblue;
}

.fromscratchbg{
    background-color: bisque;
}